
  .hero {
    color: lightcoral;
    font-size: xx-large;
    font-weight: 400;
    height: 400px; /* Adjust height as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    text-align: center;
    
    margin-bottom: 20px;
    
  }